In [1]:
import pandas as pd
import numpy as np

In [24]:
import time
from  datetime import date

In [12]:
data = pd.read_excel('/home/ekim_reverse/PyCode/study/Python.study/toy_project/online_news_pn_num_2.xlsx')

In [16]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data.head()

,Index,content,created_date,publisher,section,title,분기,실질GDP,c_pos,t_pos,c_n_pos,t_n_pos,c_n_pos_pn,t_n_pos_pn,c_pn_num,t_pn_num
0,198930,삼성전자의 주종목이 종합반도체로 바뀌는 걸까. 올해 삼성전자의 반도체 부문 영업이익...,2015-01-01T02:22:00.000000,서울신문,economy,D램 매출 14%↑… 반도체 새해도 호황기,2015Q1,2.5,"['전자', '종목', '종합', '반도체', '바뀌는', '걸까', '올해', '...","['매출', '반도체', '새해', '호황']","['부문', '뉴스', '따르면', '떨어질', '된다', '연간', '종합', '...","['매출', '반도체', '호황', '새해']","[['떨어질', 'None'], ['갔다', 'None'], ['서다', 'None...",[],0.00,0
1,198929,"‘전자업계 효자’ 2015년에도 질주삼성, 中시안 공장 1조 들여 증산… SK, 1...",2015-01-01T03:02:00.000000,동아일보,economy,"으랏차차, 반도체… ‘14조 대박신화’ 이어간다",2015Q1,2.5,"['전자', '업계', '효자', '질주', '삼성', '시안', '공장', '들여...","['으랏차', '반도체', '대박', '신화', '이어', '간다']","['냈다', '우세하다', '넘어', '따르면', '아니다', '업계', '효율',...","['대박', '반도체', '간다', '으랏차', '이어']","[['있을', 'None'], ['보이는', 'None'], ['높아질', 'Non...",[],0.00,0
2,198928,[이데일리 김보리 조진영 기자] 중국의 스마트폰 샤오미(小米)는 ‘짝퉁 애플’이란 ...,2015-01-01T03:06:00.000000,이데일리,economy,[광복70년]고사 직전 제조업 ‘규제완화·내수활성화’ 링거 꽂아야,2015Q1,2.5,"['이데일리', '김보리', '조진영', '기자', '중국', '스마트폰', '샤오...","['광복', '고사', '직전', '제조업', '규제', '완화', '활성화', '...","['체질개선', '부문', '아베노믹스', '따르면', '아니다', '였다', '끼...","['꽂아야', '광복', '규제', '완화', '제조업', '활성화', '직전']","[['가능하다', 'None'], ['급해진다', 'None'], ['좁아졌다', ...",[],-0.02,0
3,198926,"◆ 2015 업종별 유망주 ① IT·전자 ◆\n\n\n‘반도체 호황의 지속, 대형 ...",2015-01-01T04:03:00.000000,매일경제,economy,삼성전자 바닥 치고 2분기부터 실적 개선될듯,2015Q1,2.5,"['업종', '유망', '전자', '반도체', '호황', '지속', '대형', '패...","['삼성', '전자', '바닥', '실적', '개선', '될듯']","['결과', '부문', '된다는', '실질', '지나', '업계', '주가', '된...","['개선', '실적', '될듯']","[['화하지', 'None'], ['돌아서고', 'None'], ['않았지만', '...",[],0.02,0
4,198927,"‘상저하고(上低下高·주가가 상반기에 부진하고 하반기에는 올라가는 것 ), 지배구조·...",2015-01-01T04:03:00.000000,매일경제,economy,리서치센터장 5인이 보는 새해 증시 투자전략,2015Q1,2.5,"['저하', '주가', '상반기', '부진하고', '하반기', '올라가는', '지배...","['리서치', '센터', '보는', '새해', '증시', '투자', '전략']","['초반', '냈다', '상반기', '흔들릴', '선진국', '밝지', '정책', ...","['증시', '리서치', '투자', '보는', '전략', '센터', '새해']","[['내놨다', 'None'], ['빠져', 'None'], ['몰렸던', 'Non...",[],0.00,0

In [22]:
data1 = data.loc[:,['created_date','c_pn_num']]

In [23]:
data1

                     created_date  c_pn_num
0      2015-01-01T02:22:00.000000      0.00
1      2015-01-01T03:02:00.000000      0.00
2      2015-01-01T03:06:00.000000     -0.02
3      2015-01-01T04:03:00.000000      0.02
4      2015-01-01T04:03:00.000000      0.00
...                           ...       ...
86377  2016-12-31T19:09:00.000000      0.00
86378  2016-12-31T19:43:00.000000      0.00
86379  2016-12-31T20:28:00.000000      0.00
86380  2016-12-31T22:29:00.000000      0.00
86381  2016-12-31T23:45:00.000000      0.00

[86382 rows x 2 columns]

In [25]:
type(data1['created_date'])

pandas.core.series.Series